div.titleBar {
    margin-bottom: 10px;
}

dl.ctrlUnit {
    padding: 7px 0;
    position: relative;
    margin: 10px auto;
}

dl.ctrlUnit > dt {
    padding-top: 4px;
    padding-right: 15px;
    text-align: right;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 32%;
    float: left;
}

dl.ctrlUnit > dd {
    padding-top: 4px;
    float: left;
    width: 68%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
}

dl.ctrlUnit > dt label {
    margin: 30px;
	cursor: default;
}

dl.ctrlUnit > dd .ctrlText {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.ctrlUnit > dd > input, .ctrlUnit > dd > select, .ctrlUnit > dd > textarea, .ctrlUnit > dd > ul {
    margin-top: -4px;
    padding: 3px;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

dl.ctrlUnit > dd p.explain {
    font-size: 11px;
    color: rgb(113,113,113);
    margin-top: 2px;
}

.ctrlUnit:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

fieldset {
    border: none;
    border-top: 1px solid rgb(239,239,239);
    margin: 20px auto;
}

dl.ctrlUnit label > input[name="sex"] {
    width: inherit;
}

.button {
    font-style: normal;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    color: #FFF;
    background-color: #1C89BB;
    padding: 0px 6px;
    border-width: 0px;
    border-radius: 0px;
    text-align: center;
    outline: medium none;
    line-height: 30px;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
	display: block;
	margin: auto;
	width: 200px;
}

dl.ctrlUnit input#ctrlConfirmPassword {
    width: calc(100% - 28px);
}

span#checkPasswords {
    position: absolute;
    right: 30px;
    bottom: 22px;
    height: 24px;
    width: 24px;
    display: inline-block;
}