html {
	background-color: #EEF0F4;
	color: #000;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    font-family: Calibiri, Arial,sans-serif;
    color: #141414;
    word-wrap: break-word;
    line-height: 1.35;
	width: 100%;
	height: 100%;
}

html, body, div, span dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	display: block;
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 22px;
	display: block;
	line-height: 1.5em;
	border-bottom: 1px solid orange;
}

div#layout {
    position: relative;
    background-color: #FFF;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    width: 60%;
    box-shadow: 0px 0px 5px 2px #808080;
	z-index: 1;
}

div#layout div#panel {
	padding: 15px;
}

input[type="submit"].disabled {
	background-color: #959595;
	cursor: default;
}

/* ----- Menu Bar ----- */
nav#layout-menuBar {
    clear: both;
    font-size: 11px;
    border-bottom: 1px solid #C3C3C3;
    border-radius: 3px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9) inset;
    height: 40px;
    repeat-x scroll left top;
    font-size: 11px;
}

nav#layout-menuBar>ul {
    margin: 0px;
    width: 100%;
    display: block;
}

nav#layout-menuBar>ul li {
    min-width: 90px;
    display: inline-block;
    margin: 0px;
    list-style: none;
    text-align: center;
    float: left;
}

nav#layout-menuBar>ul li.right{
	float: right;
	font-family: calibri,sans-serif;
	display: block;
	padding: 10px;
	font-size: 15px;
	text-decoration: none;
	color: #888;
}

nav#layout-menuBar > ul li a {
    font-family: calibri,sans-serif;
    display: block;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}

nav#layout-menuBar>ul li a:hover {
    -webkit-transition: all .15s ease;
	-o-transition: all .15s ease;
    transition: all .15s ease;
    background-color: rgba(255,255,255,0.3);
    color: blue;
}

nav#layout-menuBar>ul li a.active, nav#layout-menuBar>ul li a.active:hover {
    background-color: #2D2D2D;
    color: #FFF;
}

/* ----- Map ----- */
div#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

/* ----- Error logger / Success Logger ----- */
div.successContent {
    color: rgb(0, 180, 0);
    background: rgb(235, 255, 235);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(0, 180, 0);
}

div.successContent h3.successHeading {
    margin: 0.75em;
    font-weight: bold;
    font-size: 12pt;
}

div.errorsContent {
    margin: 10px 0 20px;
    color: rgb(180,0,0);
    background: rgb(255, 235, 235);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(180,0,0);
}

div.errorsContent h3.errorHeading {
    margin: 0.75em;
    font-weight: bold;
    font-size: 12pt;
}

div.errorsContent div.errors {
    margin: 0.75em 2em;
    display: block;
    line-height: 1.5;
}

div.errorsContent div.errors ol {
    margin: 1em;
    margin-left: 3em;
    margin-right: 0;
}

div.errorsContent div.errors ol li {
    list-style: decimal;
}

/* ------ Form ----- */
div#form {
	position: absolute;
	top: 76px;
	left: 10px;
	z-index: 2;
	text-align: center;
	width: 204px;
	background-color: white;
	border-bottom: 2px solid grey;
}

div#form h3, div#eventsList h3 {
	font-size: 13px;
	font-family: "Open Sans",sans-serif;
	color: #DEDEDE;
	background-color: #333;
	padding: 10px;
	margin: 0;
	border-radius: 0px;
	width: calc(100% - 20px);
	text-align: left;
}

div#form dl.ctrlUnit {
	margin: 0;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
}

div#form dl.ctrlUnit dt, div#form dl.ctrlUnit dd {
	padding: 5px;
	width: 100%;
	text-align: left;
}

div#form dl.ctrlUnit dd span {
	display: block;
	width: 100%;
}

div#form dl.ctrlUnit dd span label {
	display: inline-block;
	min-width: 50px;
}

div#form dl.ctrlUnit dd span input[type="text"] {
	max-width: 130px;
}

div#form dl.ctrlUnit dd input[type="number"].ctrlText {
	width: 100%;
	max-width: 132px;
	margin-left: 11px;
}

div#form dl.ctrlUnit dd .ctrlText {
	display: inline-block;
	width: calc(100% - 70px);
	margin-left: 8px;
}

/* ----- Events List ----- */
div#eventsList {
	position: absolute;
	top: 76px;
	right: 10px;
	width: 270px;
	z-index: 2;
	background-color: white;
	border-bottom: 2px solid grey;
}

div#eventsList ul {
	background-color: inherit;
	display: block;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	max-height: 500px;
}

div#eventsList ul li {
	border-bottom: 1px solid #DDD;
	padding: 5px;
}

div#eventsList ul li span {
	display: block;
	width: 100%;
}