div#loginBar {
    color: #DEDEDE;
    background-color: #2D2D2D;
    border-bottom: 1px solid #585858;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000;
}

div.pageWidth {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px auto;
    max-width: 1180px;
    box-sizing: border-box;
}

div.pageContent {
    padding-top: 5px;
    position: relative;
}

h3#loginBarHandle {
    font-size: 11px;
    color: #F5F5F5;
    background-color: #2D2D2D;
    padding: 0px 10px;
    margin-right: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
    right: 180px;
    bottom: -20px;
    text-align: center;
    z-index: 1;
    line-height: 20px;
    box-shadow: 0px 2px 5px #2D2D2D;
	cursor: pointer;
}

div#loginBar span.noOutline, div#loginBar a.noOutline {
    color: #FFF;
    text-decoration: none;
	cursor: pointer;
}

div._swOuter {
    overflow: hidden;
    height: 0px;
	-webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
	transition: all .3s ease;
}

div._swInner {
    margin: -231px auto auto;
}

div#loginBar form {
    padding: 5px 0px;
    margin: 0px auto;
    display: none;
    line-height: 20px;
    position: relative;
    max-width: 800px;
}

div#loginBar form.loginForm dl.ctrlUnit, div#loginBar form.loginForm dl.ctrlUnit > dt label {
	display: block;
    margin: 0px;
    border: medium none;
}

form.loginForm dl.ctrlUnit {
    padding: 7px 0px;
    position: relative;
    margin: 10px auto;
}

form.loginForm dl.ctrlUnit > dt {
    display: inline-block;
    padding-top: 4px;
    padding-right: 15px;
    text-align: right;
    vertical-align: top;
    box-sizing: border-box;
    width: 32%;
    float: left;
}

form.loginForm dl.ctrlUnit > dd {
    display: inline-block;
    position: relative;
    padding-top: 4px;
    padding-right: 30px;
    width: 68%;
    box-sizing: border-box;
}

div#loginBar dd input.textCtrl[type="text"] {
    font-weight: bold;
    font-size: 18px;
}

div#loginBar input.textCtrl {
    color: #F5F5F5;
    background-color: #323232;
    border-color: #585858;
}

form.loginForm dl.ctrlUnit > dd input.textCtrl {
    box-sizing: border-box;
    width: 100%;
}

input.textCtrl {
	display: block;
    font-size: 13px;
    font-family: Calibri,"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
    color: #000;
    background-color: #FFF;
    padding: 3px;
    margin-bottom: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #C0C0C0 #E9E9E9 #E9E9E9 #C0C0C0;
    border-radius: 0px;
    outline: 0px none;
}

select, input, button, textarea, button {
	display: inline-block;
    font: 99% Calibri,Arial,sans-serif;
}

li {
    list-style: outside none none;
}

dl.ctrlUnit > dd > * > li {
    margin: 4px 0px 8px;
    padding-left: 1px;
}

#loginBar a {
    color: #707070;
}

#loginBar a:link, #loginBar a:visited {
    color: #464646;
}

div#loginBar input.button.primary {
    font-weight: bold;
    min-width: 85px;
    line-height: 1.28;
}

.button {
    font-style: normal;
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    color: #FFF;
    background-color: #1C89BB;
    padding: 0px 6px;
    border-width: 0px;
    border-radius: 0px;
    text-align: center;
    outline: medium none;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
}